// ***** MIXINS ***** //
// Below is a "free-floating" comment, but is tagged with the @group annotation
// so that we can
/// Mixins: custom re-useable but configurable tools we use.
/// @group mixins

/// Helper mixin to drop on the wrapper for an iframe
/// that you would like to be responsive.
///
/// @group mixins
/// @author Smashing Magazine
///
/// @param {Length} $width - Element's width
/// @param {Length} $height - Element's height
/// @output CSS for the wrapper and the inner iframe that maintains the aspect
///   ratio as it is resized.
///
/// @example scss -
///   .responsive-embed {
///     @include embed-container(400px, 300px);
///   }
@mixin embed-container($width, $height) {
  $ratio: ($height / $width) * 100%;
  position: relative;
  padding-bottom: $ratio;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
