// ***** MIXINS ***** //
// Below is a "free-floating" comment, but is tagged with the @group annotation
// so that we can
/// Mixins: custom re-useable but configurable tools we use.
/// @group mixins

/// Helper mixin to drop on the wrapper for an iframe
/// that you would like to be responsive.
///
/// @group mixins
/// @author Smashing Magazine
///
/// @param {Length} $width - Element's width
/// @param {Length} $height - Element's height
/// @output CSS for the wrapper and the inner iframe that maintains the aspect
///   ratio as it is resized.
///
/// @example scss -
///   .responsive-embed {
///     @include embed-container(560px, 315px);
///   }
/// @example html -
///   <div class="responsive-embed">
///     <iframe width="560" height="315" src="https://www.youtube.com/embed/jbpwXVVReM0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
///   </div>
@mixin embed-container($width, $height) {
  $ratio: ($height / $width) * 100%;
  position: relative;
  padding-bottom: $ratio;
  height: 0;
  overflow: hidden;
  max-width: 100%;

  iframe, object, embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

// ***** EXTENDABLES / PLACEHOLDERS *****/
/// Placeholders: The following placeholders are useable for basic styles.
/// @group extends

/// Makes a rounded button. Intended to be used on an anchor.
/// You should be setting your own color and background.
/// @group extends
/// @example scss -
///   .fake-submit {
///     @extend %btn;
///   }
/// @example html -
///   <a class="fake-submit" href="https://google.com?q=oddbird+herman" target="_blank">Submit This!</a>
%btn {
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  padding: 1em;
}
